body{
    background-image: url(origin.jpg);
}
h1{
    color: bisque;
    text-decoration: none ;
    
}
label{
    color: #f77001;
    font-weight: 600px;
}
input{
    background-color: rgb(247, 247, 174);
    border-radius: 10px 10px 10px 10px;
}

textarea{
    background-color: rgb(247, 247, 174);
}
select{
    background-color: rgb(247, 247, 174);
}
.envio{
   text-align: center;
   width: 70px;
   height:50px ; 
}
.footer{
    display: flex;
    height: 98%;
}
