*{
    margin: 0;
    padding: 0;
}

body{
    background:  linear-gradient(to right, black,orange);
}
nav img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 20px;
  transition: transform 0.5s;
}
nav img:hover{
    transform: scale(1.5)
}

header{  width: 100%;
        height: 138px;
        background: linear-gradient(to right, black,orange);
        display: flex;
        justify-content: space-between;
}
.logo img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: black;
    transition: transform 0.5s;
    margin: 22px;
}
.logo img:hover{
    transform: scale(1.5)
}
.logo h2{
    float: inline-end;
    justify-content:space-around;
    color:aliceblue;
    font-family: cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12px;
}
a{ 
    color: silver;
	text-decoration: none;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    padding: 40px;
    width: 129px;
    box-shadow: 0 4px 5px rgba(209, 172, 7, 0.877);
}
a:hover{
    color:blueviolet;
    background-color: orange;
}
nav{
    display: flex;
    justify-content:center;
}
.registro{
    display: flex;
    align-items: center;
    justify-content: center;

}
.historia p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:0px;
    margin: 10px;
    float: left;
    background: linear-gradient(to left, white,rgb(43, 41, 39));
    font-size: 36px;
}
.historia img{
    float:right;
}
h1{
    color: orange;
    text-align: center;
    font-size: 58px;
    font-family:cursive;
}
.mision p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:0px;
    margin: 10px;
    float: right;
    background: linear-gradient(to right, white,rgb(43, 41, 39));
    font-size: 36px;
}
.mision img{
    float:left;
}
.vision p{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:0px;
    margin: 10px;
    float: left;
    background: linear-gradient(to left, white,rgb(43, 41, 39));
    font-size: 36px;
}
.vision img{
    float:right;
}
.footer{
    display: flex ;
    height: 800px;
}
/*@media (max-width:768px) {
    body{
        background:  linear-gradient(to right, black,orange);   
    }
    header{
        width: 30%;
        flex-direction: column 1;
        height: 300%;
    }
    .todo{
        width: 25%;
        height: 30%;
        margin: 45%;
        padding: 10%;
    }
    .logo{
        width: 100%;
        flex-wrap: wrap;
        display:block;
    }
    header{
        flex-direction: column 1;
    }
    header nav{
        width: 2px;
        height: 40px;
        flex-direction: column 2;
        display: block;
        padding:60%;
    }
    header nav a{
        display: block;
        width: 2px;
        height: 10px;
        float: inline-end;
        margin: 0;
    }
    h1{
        display: block;
        float:inline-end;
    }
    .historia{
        margin: 0;
        padding: 0;
        width: 0px;
        display: block;
    }
}*/
