*{
    margin: 0;
    padding: 0;
}

.footer{
    background-color: rgb(100, 99, 99);
    padding: 100px;
    height: 70px;
}
.cont{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: beige;
    text-decoration: none;
    font-weight: 300;
    color: rgb(18, 19, 19);
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 0px;
}
.footer-col .social-icon a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255,0,2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: azure;
    transition: all 0.5s ease;
}
.footer-col .social-icon a:hover{
    color: rgb(238, 214, 2);
    background-color: black;
}
@media (max-width:767px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    } 
}
@media (max-width:574px) {
    .footer-col{
        width: 100%;
    } 
}